body {
    margin: 40px 100px;
    background-color: black;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0;
}

.main {
    display: flex;
    justify-content: space-between;
}

.content {
    width: 50%;
}

.field {
    margin-bottom: 10px;
}

input {
    border: 0;
    border-radius: 2px;
    padding: 4px;
}

button {
    border: 0;
    border-radius: 2px;
    background-color: white;
    padding: 5px 10px;
    cursor: pointer;
}

#error {
    color: salmon;
}

.array button {
    background-color: brown;
    color: white ;
}